@use "/src/assets/styles/variables" as *;

.language-menu {
  width: 100%;

  .dropdown-toggle {
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    background-color: transparent;
    border: none;

    &::after {
      content: "";
      order: -1;
      margin-right: 0.5rem;
    }

    @media (max-width: 400px) {
      font-size: 0.8rem;
    }
  }

  .dropdown-menu {
    background-color: $background-color-main;
    border: 2px solid $background-color-secondary;
    gap: $spacing-medium;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: $spacing-medium;
    padding: $spacing-medium;
    list-style-type: none;

    &.show {
      display: flex;
    }
  }

  .dropdown-item {
    display: flex;
    gap: 0.5rem;
    padding: $spacing-low $spacing-medium;
    color: $color-text-2;
    background-color: transparent;
    border-radius: 0.25rem;

    &:hover {
      background-color: $background-color-secondary;
      color: $color-text;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }
}

.language-menu .dropdown button {
  background-color: transparent;
  border: none;
  gap: 0.2rem;
}

.language-menu .dropdown-menu.show {
  display: flex;
  border: 2px solid $background-color-secondary;
}

@media (max-width: 400px) {
  .btn.btn-secondary.dropdown-toggle {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
