@use "/src/assets/styles/variables" as *;

.social-media {
  position: relative; 
  display: flex;
  justify-content: center; 
  background: $background-color-secondary;
  padding: $spacing-low-medium;

  .mail-redirect {
    position: absolute;
    left: $spacing-large;
    font-weight: bold;
    bottom: 1.3rem;
    &:hover {
      cursor: pointer;
    }
  }

  .phone-redirect {
    position: absolute;
    right: $spacing-large;
    font-weight: bold;
    bottom: 1.3rem;
    &:hover {
      cursor: pointer;
    }
  }

  .social-media-list {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: $spacing-low;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: center;
      align-items: center;

      .social-media-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $button-header-background;
        border: none;
        border-radius: 50%; 
        width: $button-size-header;
        height: $button-size-header;
        cursor: pointer;
        transition: background 0.4s ease;

        &:hover {
          background: rgba(128, 128, 128, 0.7);
        }

        .social-media-icon {
          width: 1.5rem;
          height: auto;
          filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(221deg)
            brightness(107%) contrast(101%);
        }
      }
    }
  }

  @media (max-width: 768px) {
    display: none; 
  }
}
