.content-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.title-container {
    color: #9cc31c;
    text-align: center;
    padding: 4rem;
}

.content-section {
    padding: 0rem 9.5rem 2rem 9.5rem;
    font-size: 1.2rem;
}

@media (max-width: 900px ) {
    .content-section {
        padding: 1rem 2rem 1rem 2rem;
    }
}