.advise-container {
  background-color: #2f2f2f;
  width: 100%;
  height: fit-content;
  padding: 6.5rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  h1 {
    color: #9cc31c;
    font-weight: bold;
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
    line-height: 2.5rem;
    color: whitesmoke;
  }
}

@media (max-width: 900px) {
  .advise-container {
    padding: 4rem;
  }
}

@media (min-width: 1921px) and (min-height: 1081px) {
  .advise-wrapper {
    background-color: #2f2f2f;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
  }

  .advise-container {
    max-width: 1200px; // opcional, ayuda a mantenerlo centrado
  }
}
