body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

.text-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 6.5rem;

  .text-content {
    padding: 1rem;
    color: #333;
    text-align: left;
    font-size: 1.2rem;
  }

  .image-content {
    flex-shrink: 0;
    img {
      width: 100%;
      max-width: 22rem;
      height: auto;
      border-radius: 8px;
    }
  }

  &.text-left {
    flex-direction: row;
  }

  &.text-right {
    flex-direction: row-reverse;
  }

  &.text-top {
    flex-direction: column;
  }

  &.text-bottom {
    flex-direction: column-reverse;
  }

  @media (max-width: 1075px) {
    &.text-left,
    &.text-right {
      flex-direction: column-reverse;
    }

    .image-content img {
      max-width: 25rem;
    }
  }
}

@media (max-width: 900px) {
  .text-image {
    padding: 1rem 2rem 1rem 2rem;
    gap: 5rem !important;
  }
}

@media (max-width: 400px) {
  .text-image {
    padding: 0;
    gap: 5rem !important;
  }
}