@use "/src/assets/styles/variables" as *;
.navbar-container {
  padding: 0.5rem;
}
.navbar-nav {
  align-items: center;
}
.navbar {
  background-color: $background-color-main !important;

  button {
    border: none;
  }

  ul {
    gap: 1.2rem !important;
  }

  a,
  .dropdown-toggle {
    font-size: 1.1rem !important;
    color: $color-text-2 !important;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 0.5rem;
      transform: scale(1.1);
    }
  }
}

.collapse.show {
  right: 0;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
  z-index: 1050;
  transition: right 0.3s ease-in-out;
}

.close-btn {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: $spacing-medium-large;
  right: $spacing-medium-large;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-text-2 !important;
  cursor: pointer;
  z-index: 1100;
  border-radius: 50%;
  background-color: $background-color-main;
}

@media (max-width: 1250px) {
  .navbar {
    a,
    .dropdown-toggle {
      font-size: 1rem !important;
    }
  }

  .navbar-collapse.show {
    a,
    .dropdown-toggle {
      font-size: 2rem !important;
      text-decoration-color: $background-color-main !important;
    }
  }
}

@media (max-width: 500px) {
  .navbar-collapse.show {
    a,
    .dropdown-toggle {
      font-size: 1rem !important;
      text-decoration-color: $background-color-main;
    }
  }
}

@media (max-width: 991px) {
  .nav-item,
  .nav-item.dropdown {
    margin: $spacing-low;
    padding: 0;

    a,
    .dropdown-toggle {
      color: $color-text !important;
    }
  }
  .btn.btn-secondary.dropdown-toggle {
    background-color: transparent;
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  .collapse {
    position: static;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
  }

  .nav-item,
  .nav-item.dropdown {
    margin: 0;
    padding: 0;
  }

  .nav-link {
    padding: 0.5rem 1rem;
  }

  .close-btn {
    display: none;
  }
}

// Estilos componentes SocialMedia y HomeButton menú hamburguesa;

.navbar-extra {
  display: none;
  width: 100%;
  height: 100vh;
  .navbar-social-media {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 2rem 0;
    bottom: 0;
  }

  .navbar-home-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: transparent !important;
    border: none;
    z-index: 1100;
  }
}

.collapse.show .navbar-extra {
  display: flex;
}

// Estilos específicos para el menú de "Servicios"

.dropdown-service {
  .dropdown-service-menu {
    .dropdown-menu {
      --bs-dropdown-min-width: 8rem;
      background-color: $background-color-main;
      border: 2px solid $background-color-secondary;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      list-style-type: none;
      &.show {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      > li:hover {
        width: -webkit-fill-available;
        background-color: #b1de1f;
      }
    }
    .dropdown-item {
      background-color: transparent;
      border-radius: 0.25rem;

      &:hover {
        color: black !important;
        transition: background-color 0.3s ease, color 0.3s ease;
        text-decoration: none;
      }
    }
    .dropdown-toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;
      background-color: transparent;
      border: none;

      &::after {
        content: "";
        order: -1;
      }
    }
    .btn.btn-secondary.dropdown-toggle {
      background-color: transparent;
      gap: 0.2em;
      &:hover {
        text-decoration: underline;
        text-underline-offset: 0.5rem;
      }
    }
  }
}
