*, *::before, *::after {box-sizing: inherit;}
html{
  box-sizing: border-box;
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

  --red_primary: #DB0015;
  --red_light: #ff5240;
  --red_dark: #a10000;
  --white: rgb(194, 194, 194);
  --black: #333333;
  --black_light: #616161;
  --black_dark: #202020;

  --success: #00d61d;
  --error: #f84600;

}

.root{
  height: 100%;
}