.faqs {
  background-color: #2f2f2f;
}

.custom-accordion {
  padding: 2rem 6.5rem 2rem 6.5rem;
}

.title-container {
  h1 {
    font-weight: bold;
    color: #9cc31c;
    margin-bottom: 0;
  }
  padding: 2rem 6.5rem 0rem 6.5rem ;
}

.custom-accordion .accordion-collapse {
  overflow: hidden;
  transition: max-height 0.3s ease-out, background-color 0.3s ease-out, color 0.3s ease-out;
}

.custom-accordion .accordion-collapse {
  background-color: #2f2f2f;
  color: whitesmoke;
  position: relative;
  text-align: left; 
}

.custom-accordion .accordion-button {
  color: #9cc31c;
  background-color: #2f2f2f;
  border: none;
  outline: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.custom-accordion .accordion-button:hover {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: #9cc31c;
}

.custom-accordion .accordion-button:focus,
.custom-accordion .accordion-button:not(.collapsed) {
  background-color: #2f2f2f;
  box-shadow: none;
  border: none;
}


.custom-accordion .accordion-body {
  text-align: left;
  padding: 1rem;
}

.accordion-button::after{
  filter: invert(90%) sepia(100%) saturate(3532%) hue-rotate(14deg) brightness(83%) contrast(80%);
}

.p-phone {
  margin-top: 0.5rem;
}


@media (max-width: 900px) {

  .custom-accordion {
    padding: 2rem 4rem 2rem 4rem;
  }
  
  .title-container {
    padding: 2rem 4rem 0rem 4rem ;
  }
}