@use "/src/assets/styles/variables" as *;

.search-link {
  text-decoration: none;
  color: #333333;
}

.limit-text {
  display: -webkit-box;           
  -webkit-box-orient: vertical;  
  line-clamp: 3;
  -webkit-line-clamp: 3;         
  overflow: hidden;              
  text-overflow: ellipsis;       
}

.page-label {
  margin-bottom: 0.5rem;
}

.list-group-item {
  border: none;
}

.btn-outline-primary {
  border: none;
  background-color: transparent;

  img {
    width: $font-size-medium-large !important;
    height: auto;
  }

  &:hover {
    background-color: transparent !important;
    transform: scale(1.5);
  }

  &:active,
  &:focus {
    background-color: transparent !important;
    box-shadow: none;
  }
}
